/* Common */
.user-auth {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.user-auth * {
  margin-bottom: 10px;
}

.user-auth-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.user-auth-header * {
  margin: 0px !important;
}

.user-auth-header > button {
  border: none;
  height: fit-content;
  background-color: #efefef;
  box-shadow: 1px 1px lightgray;
  padding: 5px 10px 5px 10px;
}

.user-auth-header > button:hover {
  background-color: lightgray;
}

.user-auth-error {
  color: red;
}

.user-auth-btn {
  color: white;
  border: none;
  height: fit-content;
  background-color: green;
  box-shadow: 1px 1px darkgreen;
  padding: 5px 0px 5px 0px;
}

.user-auth-btn:hover {
  background-color: darkgreen;
}

/* Profile */
.profile {
  width: 500px;
}

.profile-info {
  display: flex;
  flex-direction: column;
}

.profile-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.profile-item > label {
  font-weight: bold;
}

.profile-item > input,
select {
  width: 60%;
}

.profile-footer {
  display: flex;
  justify-content: space-between;
}

.profile-footer * {
  width: 30% !important;
  text-align: center;
}

.users-link {
  color: black;
  border: none;
  height: fit-content;
  background-color: #ffc107;
  box-shadow: 1px 1px lightgray;
  padding: 5px 0px 5px 0px;
  text-decoration: none;
}

.users-link:hover {
  background-color: #ffa407;
}

/* Users Table */
.user-table {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.user-table > div:first-child {
  margin-bottom: 20px;
  justify-content: space-between;
}

.user-table-dropdown {
  width: 150px;
  margin-right: 10px !important;
}

.goto-profile {
  padding: 5px 10px 5px 10px;
  text-align: center;
}

.add-user-role {
  margin-left: 0px !important;
}

.user-table-btns {
  border: none;
  background-color: transparent;
}

.user-table-btns:hover {
  color: darkblue;
}

.update-user-btn:hover {
  color: darkgreen !important;
}

.delete-user-btn:hover {
  color: darkred !important;
}
