.wd-navigation {
  background-color: white;
  list-style: none;
  padding: 0px;
  margin: 20px 0px 0px 20px;
  height: 100%;
}
.wd-navigation li {
  padding: 5px 0px 5px 10px;
  margin: 5px 0px 5px 0px;
}
.wd-navigation li.wd-active {
  border-left: 2px solid black;
}
.wd-navigation li.wd-active a {
  color: black;
}
.wd-navigation a {
  color: red;
  text-decoration: none;
}
