.modules {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  margin-right: 40px;
  width: 100%;
}

/* Top Buttons */
.module-buttons {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
  margin: 10px 0px 10px 0px;
}

.module-buttons > button,
select {
  border: none;
  margin-left: 10px;
  box-shadow: 1px 1px lightgray;
  padding: 5px 10px 5px 10px;
  border-radius: 4px;
  background-color: #efefef;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.module-buttons > button:hover:enabled {
  background-color: lightgray;
}

#collapse-all-btn:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}

#module-button {
  background-color: red;
  color: white;
}

#module-button:hover {
  background-color: darkred;
}

#top-ellipsis-btn {
  padding: 0px;
}

#top-ellipsis-btn * {
  margin: 0px 8px 0px 8px;
}

.plus {
  margin-right: 5px;
}

.module-buttons-hr {
  margin-bottom: 40px;
}

.modules-list,
.module-list {
  border-radius: 0%;
  border: none;
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.module {
  margin-bottom: 50px;
  box-sizing: content-box;
}

.module-list > li,
.module-list > div > li {
  border-bottom: 1px solid gray;
  border-right: 1px solid gray;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px 10px 5px;
}

.module-list > li:first-child {
  border-top: 1px solid gray;
  border-left: 1px solid gray !important;
}

.module-list > div > li {
  border-left: 4px solid green !important;
}

.module-title {
  background-color: lightgray;
  font-weight: bold;
}

.module-title-text {
  margin-right: auto;
  margin-left: 10px;
  color: #3d454c;
}

.module-section-div {
  display: flex;
  flex-direction: column;
}

.module-section {
  background-color: transparent;
  font-weight: bold;
  white-space: normal !important;
  word-break: break-all;
  border: none;
}

.module-item-text {
  margin-right: auto;
  margin-left: 30px;
  color: #3d454c;
}

.module-section-item-link {
  background-color: transparent;
  text-decoration: none;
  color: #3d454c;
  white-space: normal !important;
  word-break: break-all;
  border: none;
}

.module-section-item-link:hover {
  text-decoration: underline;
}

.modules-buttons-right {
  display: inline-flex;
  margin-left: 10px;
}

.module-list-buttons > button {
  background-color: transparent;
  border: none;
  color: #3d454c;
}

.ellipsis-left {
  padding-left: 5px;
}

.add-module,
.add-module-header,
.add-module-section,
.add-module-lesson {
  display: flex;
  flex-direction: column;
  margin: 10px 0px 10px 0px;
  color: #3d454c;
}

.add-lesson-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}

.add-module-btns {
  border: none;
  box-shadow: 1px 1px lightgray;
  padding: 5px 10px 5px 10px;
  border-radius: 4px;
  background-color: #efefef;
  width: fit-content;
  color: #3d454c;
}

.add-module-btns:hover:enabled {
  background-color: lightgray;
}

.add-module-btns:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}

.add-section-input {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.add-section-input > input,
.add-lesson-input > input {
  width: 100%;
  margin-right: 10px;
}

.add-module-footer-btns {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.add-module-footer-btns > button:first-child,
.add-lesson-input > button:first-child {
  margin-right: 10px;
}

.add-module-footer-btns > button:last-child {
  background-color: green;
  color: white;
}

.add-module-footer-btns > button:last-child:hover {
  background-color: darkgreen;
}

#delete-module-item-btn {
  color: red;
  margin-right: 10px;
}

#add-module-item-btn {
  color: #3d454c;
}

#add-module-item-btn:hover {
  color: blue;
}

.module-section-textarea {
  height: fit-content;
  align-items: center;
  padding: 5px;
}

.add-module-section-header {
  display: flex;
  align-items: center;
}

.add-module-section-header > button,
.add-module-lesson-header > button,
.delete-lesson-btn,
.save-section-btn {
  border: none;
  background-color: transparent;
  padding: 0px;
  margin-bottom: 8px;
  margin-left: 5px;
  color: #3d454c;
}

.add-module-lesson-header {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.add-lesson-input {
  display: flex;
  justify-content: flex-end;
}

.lesson-list,
.section-list {
  margin: 0px 10px 0px 10px;
}

.lesson-list > button,
.section-list > button {
  color: red;
}

@media (max-width: 1199px) {
  .modules {
    width: 100%;
  }
}

@media (max-width: 991px) {
  .modules {
    margin-right: 0px;
  }

  .add-module-footer-btns {
    justify-content: space-between;
  }

  .add-module-footer-btns > button {
    margin-right: 0px;
    width: 25%;
  }
}

@media (max-width: 650px) {
  .module-buttons {
    justify-content: space-evenly;
  }

  .module-buttons > button,
  select {
    padding: 5px;
  }

  .module-buttons > button:first-child {
    margin-left: 0px;
  }
}
