.dashboard {
  padding: 20px 20px 20px 130px;
  width: 100%;
}

.dash-header {
  display: flex;
  flex-direction: column;
}

.dash-icon {
  padding-right: 3px;
  color: #212529;
}

.col {
  width: 300px;
}

.card {
  margin-bottom: 30px;
  width: 270px;
}

.card-body {
  height: 150px;
  max-height: 150px;
  display: flex;
  flex-direction: column;
}

.card-img-top {
  max-height: 150px;
}

.btn {
  position: absolute;
  bottom: 10px;
}

.published-courses {
  margin-left: 30px;
}

@media (max-width: 575px) {
  .dashboard {
    padding: 0;
    width: 100%;
  }

  .dash-header {
    text-align: end;
    padding: 20px 20px 0px 20px;
  }

  .published-courses {
    margin: 0;
    width: 100%;
    padding: 0px 40px 0px 40px;
  }

  .row {
    padding-right: 0px;
  }

  .col {
    width: 100%;
    padding: 0px 10px 0px 0px;
    margin-left: 10px;
  }

  .card {
    width: 100%;
  }
}