.assignments {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  margin-right: 40px;
  margin-bottom: 50px;
  width: 100%;
}

.assignments-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

#assignment-search {
  border: 1px solid lightgray;
  box-shadow: 0 2px 2px -2px lightgray;
  padding: 8px 50px 8px 15px;
  border-radius: 4px;
  height: fit-content;
}

.assignments-buttons {
  display: inline-flex;
  justify-content: flex-end;
  padding-top: 20px;
  margin: 10px 0px 10px 0px;
}

.assignments-buttons > button {
  border: none;
  margin-left: 10px;
  box-shadow: 1px 1px lightgray;
  padding: 8px 15px 8px 15px;
  text-align: center;
  border-radius: 4px;
  background-color: #efefef;
}

.assignments-buttons > button:last-child {
  padding: 5px;
}

.assignments-buttons > button:hover {
  background-color: lightgray;
}

#assignment-btn {
  background-color: red;
  color: white;
}

#assignment-btn:hover {
  background-color: darkred;
}

.assignments-buttons-hr {
  margin-bottom: 40px;
}

.wd-assignments,
.wd-assignments * {
  border-radius: 0%;
  border: none;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.wd-assignments > li {
  border: 1px solid gray;
  border-left: 4px solid green !important;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px 10px 5px;
}

.assignment-title {
  background-color: lightgray;
  font-weight: bold;
  color: #3d454c;
}

.assignment-item-buttons {
  display: inline-flex;
}

.assignment-item-buttons > button {
  background-color: transparent;
  border: none;
  color: #3d454c;
}

.assignment-text-container {
  margin-right: auto;
  margin-left: 20px;
}

.assignment-text,
.assignment-item-title {
  width: 100%;
  white-space: normal !important;
}

.assignment-info {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.assignment-item-title {
  text-decoration: none;
  color: #3d454c;
  font-weight: bold;
  white-space: normal !important;
  width: 100% !important;
}

.assignment-item-due-date {
  font-size: small;
  color: #3d454c;
}

.assignment-item-due-date > span:first-child {
  font-weight: bold;
}

.assignment-item-title:hover {
  text-decoration: underline;
}

.ellipsis-v {
  margin-right: 10px;
}

.assignment-buttons-right {
  margin-left: 20px;
}

.assignment-buttons-right > button:last-child {
  margin-left: 10px;
}

@media (max-width: 991px) {
  .assignments {
    margin-right: 0px;
  }
}
