.course-home {
  display: flex;
}


/* Modules */

.wd-modules,
.wd-modules * {
  border-radius: 0%;
  border: none;
  margin: 0px;
  padding: 0px;
}

.modules {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  width: 75%;
}

.wd-modules > li {
  background-color: lightgray;
  border: 1px solid gray !important;
  border-left: none !important;
}

.wd-modules > li > div {
  padding: 10px 10px 10px 13px;
  border-left: 1px solid gray !important;
}

.wd-modules > li > ul > li {
  padding: 10px;
  border-top: 1px solid gray !important;
  border-left: 4px solid green;
}

.wd-modules > li {
  margin-bottom: 50px;
}

.module-title {
  font-weight: bold;
  color: #3d454c;
}

.list-group-item-text {
  padding-left: 30px;
  text-decoration: none;
  color: #3d454c;
}

.list-group-item-text:hover {
  text-decoration: underline;
}

.list-group-item-link {
  padding-left: 30px;
}

.arrow-down {
  margin-right: 8px;
}

.fa-ellipsis-v {
  margin-right: 5px;
  margin-left: 5px;
}

.ellipse-left {
  margin-right: 15px;
}

.fa-check-circle,
.fa-plus {
  margin-right: 5px;
}

.module-buttons {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
  margin-bottom: 10px;
}

.module-buttons > button,
select {
  border: none;
  margin-left: 10px;
  box-shadow: 1px 1px lightgray;
  padding: 5px 10px 5px 10px;
  text-align: center;
  border-radius: 4px;
  background-color: #EFEFEF;
}

.module-buttons > button:hover {
  background-color: lightgray;
}

#module-button {
  background-color: red;
  color: white;
}

#module-button:hover {
  background-color: darkred;
}






/* Course Status */

.course-info {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  margin-right: 20px;
}

.course-info > p {
  font-size: 16px;
}

.course-info-section {
  font-weight: bold;
  margin-bottom: 2px;
  color: #3d454c;
}

.course-status {
  padding-top: 20px;
}

.course-status > p {
  margin-bottom: 2px;
}

.publish-buttons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.publish-buttons > button {
  border: none;
  box-shadow: 1px 1px lightgray;
  padding: 5px 0px 5px 0px;
  text-align: center;
  width: 50%;
  border-radius: 4px;
}

.publish-buttons > button:hover {
  background-color: lightgray;
}

#publish {
  background-color: green;
  color: white;
}

#publish:hover {
  background-color: darkgreen;
}

.publish-buttons > button > i {
  margin-right: 2px;
}

.status-buttons {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.status-buttons > button {
  border: none;
  box-shadow: 1px 1px lightgray;
  margin-bottom: 5px;
  padding: 5px 0px 5px 0px;
  width: 100%;
  text-align: left;
  border-radius: 4px;
}

.status-buttons > button:hover {
  background-color: lightgray;
}

.status-buttons > button > i {
  margin-left: 20px;
  margin-right: 5px;
}



/* To Do */

.todo {
  margin-bottom: 10px;
}

.hr-line {
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px 0px 10px;
  margin-bottom: 10px;
}

.todo-item-left {
  display: flex;
}

.todo-item-num {
  margin-right: 10px;
  color: red;
}

.todo-item-info {
  color: gray;
  display: flex;
  flex-direction: column;
}

.todo-item-title {
  color: red;
  font-size: 14px;
}

.todo-item-due-date {
  font-size: 12px;
}

.todo-item-delete {
  border: none;
  background-color: transparent;
  color: gray;
  width: fit-content;
  height: fit-content;
  padding: 5px;
}

.todo-item-delete:hover {
  background-color: lightgray;
  border-radius: 4px;
}



/* Coming Up */

.coming-up-header {
  display: flex;
  justify-content: space-between;
}

.coming-up-header > a {
  color: red;
  font-size: 12px;
  text-decoration: none;
  align-self: center;
}

.view-calendar-icon {
  color: gray;
  margin-right: 5px;
  font-size: 14px;
}

.coming-up-item {
  display: flex;
  justify-content: start;
  padding: 0px 10px 0px 10px;
  margin-bottom: 10px;
  color: gray;
}

.coming-up-item > i {
  margin-right: 10px;
}

.coming-up-item-info {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

.coming-up-item-title {
  font-size: 14px;
  color: red;
}