.header-course-num {
  text-decoration: none;
  color: red;
  margin-right: 10px;
}

.header-course-num-small {
  background-color: transparent;
  border: none;
  color: white;
}

.header-course-num:hover,
.header-course-num-small:hover {
  text-decoration: underline;
}

/* Top Navigation (smaller screens) */
.top-nav {
  width: 100%;
  background-color: black;
  color: white;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding: 10px 15px 10px 15px;
}

.top-nav-button {
  background-color: transparent;
  border: none;
  color: white;
}

.top-nav-bars {
  margin-right: 35px;
}

#top-nav-course-toggle {
  margin-left: 5px;
}

/* Kanbas Navigation (smaller screens) */
.kanbas-nav-small {
  position: fixed;
  z-index: 20;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.kanbas-nav-small-icon {
  font-size: 2em;
  margin-right: 20px;
}

.kanbas-nav-list {
  list-style: none;
  padding: 0px;
  margin: 0px;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

#kanbas-nav-close {
  padding: 18px 18px 3px 3px;
  display: flex;
  justify-content: end;
  color: #3d454c;
}

.kanbas-nav-list li {
  padding: 3px;
  font-size: 0.8em;
  text-align: center;
  display: inline;
}

.kanbas-nav-list-link {
  color: red;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  margin-left: 16px;
  width: 100% !important;
}

.kanbas-nav-list span:hover {
  text-decoration: underline;
}

#arrow-right {
  color: #3d454c;
  padding: 5px;
  font-size: 2em;
  margin-right: 30px;
}

#arrow-right:hover {
  background-color: lightgray;
  border-radius: 4px;
}

#account-icon-small {
  color: gray;
}

/* Course Navigation (smaller screens) */
.course-nav-small {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 20px;
}

.course-nav-list {
  list-style: none;
  padding: 0px;
  margin: 10px 0px 10px 0px;
  width: 100%;
}

.course-nav-list li {
  padding: 3px;
  font-size: 1em;
  text-align: center;
}

.course-nav-list-link {
  color: red;
  text-decoration: none;
  display: flex;
  justify-content: start;
  margin-left: 16px;
}

.course-nav-list span {
  font-size: 0.8em;
  margin-left: 10px;
}

.course-nav-list span:hover {
  text-decoration: underline;
}
